In [1]:
import pandas as pd
import tqdm

raw = pd.read_csv("data1.csv")

In [2]:
raw.head()

                                         report_text filename
0  \n\nRecord date: 2106-02-12\n\nCampbell Orthop...  100.xml
1  \n\nRecord date: 2079-05-12\n\n\n\n\n\nMERCY C...  101.xml
2  \n\nRecord date: 2120-09-19\n\nPersonal Data a...  102.xml
3  \n\nRecord date: 2067-11-24\n\n               ...  103.xml
4  \n\nRecord date: 2094-02-16\n\nJENNIFER BOOKER...  104.xml

In [3]:
all_reports = raw.report_text

In [4]:
len(all_reports)

202

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   report_text  202 non-null    object
 1   filename     202 non-null    object
dtypes: object(2)
memory usage: 3.3+ KB

In [6]:
string = raw.report_text[0]

In [11]:
import re
from datetime import datetime

match = re.search(r'\d{4}-\d{2}-\d{2}', rpt1)
date = datetime.strptime(match.group(), '%Y-%m-%d').date()

NameError: name 'rpt1' is not defined

In [13]:
def split_reports(report):
    return string.split("****************************************************************************************************")

In [14]:
report_list = []

for each_rpt in all_reports:
    temp_reports = split_reports(each_rpt)
    report_list.append(temp_reports[0])

In [15]:
len(report_list)

202

In [44]:
clean_report = pd.DataFrame({'report_text':report_list})
clean_report.to_csv("report_data_raw.csv")

In [43]:
import re

def remove_multiple_spaces(sent):
    sent = re.sub(' +', ' ', sent)
    return sent